@charset "utf-8";

/*  tsagaan nuur  */
.gray-bg {
	background:#EBF4FA;
}

.section-padding {
  padding: 110px 0;
}
.section-header {
  padding-bottom: 55px;
}

.section-header h2 {
  margin-bottom: 30px;
}
/*  nuur huudas */
/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    padding: 0px 0px 20px 0px;
}

.bg-light {
    background-color: transparent !important;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px 0px 50px 0px;
}

.logo_mobile {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
}

.mobile_menu {
    width: 100%;
    float: left;
    display: none;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.navbar-nav {
    align-items: center;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-item {
    position: relative;
}

.menu_main {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.menu_main ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-flex;
}

.menu_main li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    border-radius: 40px;
}

.menu_main li a {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu_main li a:hover {
    color: #ffffff;
    background-color: #555555;
}

.mb-lg-0,
.my-lg-0 {
    margin-bottom: 0!important;
    width: 20%;
    float: left;
}

.header_main {
    width: 100%;
    background-image: url(../images/header-bg.png);
    background-size: 100%;
    padding: 10px 0px 0px 0px;
}


/* header section end */
/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 500px;
}




/* banner section end */

.topnav {
    background-color: #151B54;
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 22px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */

  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #333;
    color: white;
  }

.banner_content {
  padding-left: 120px;
}
.banner_content h1 {
  color: #ffffff;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}
.banner_content p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
}

/*-----------------------------
	3.4. Suul orson gazruud
-----------------------------------*/
.recent-tab { /* Suuld orson  */ 
  margin: 0 auto;
  text-align: center;
}
.recent-tab ul.nav-tabs {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 300px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display:inline-block;
}
.recent-tab .nav.nav-tabs a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 30px;
  color: #222222;
  font-size: 15px;
  line-height: 26px;
  margin: 0 auto;
  padding: 6px 32px;
  position:relative
}
.recent-tab .nav.nav-tabs li.active a {
  border: medium none;
  color: #ffffff;
}
.recent-tab .nav.nav-tabs li.active::after {
  border-style: solid;
  border-width: 12px;
  bottom: -20px;
  content: "";
  height: 8px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 12px;
}
.col-list-3 { 
  float: left;
  padding: 0 15px;
  width: 33%;
}
.col-list-3:nth-child(3n) {
	clear:right;
}
.col-list-3:nth-child(3n+1) {
	clear:left;
}
.recent-car-list {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}
.car-info-box { position:relative;}
.car-info-box ul {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 0;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  width: 100%;
}
.car-info-box li {
  color: #ffffff;
  display: inline-block;
  font-size: 13px;
  line-height: 50px;
  list-style: outside none none;
  margin: 0 15px;
}
.car-info-box li .fa {
  margin-right: 8px;
}
.car-info-box li:nth-last-child(1) {
  margin-right: 0;
}
.car-title-m {
  overflow: hidden;
  padding: 20px;
}
.car-title-m h6 {
  float: left;
  margin: 0 auto;
  max-width: 245px;
}
.car-title-m h6 a {
  color: #111111;
}
.car-title-m .price {
  color: #555555;
  float: right;
  font-size: 16px;
  font-weight: 800;
}

.inventory_info_m {
  padding: 0 20px 15px;
}
.inventory_info_m p {
  color: #000;
  line-height: 22px;
}
.blog-info-box .share_article {
	position:absolute;
	top:15px;
	left:15px;
	overflow:hidden;
}
.blog-info-box .share_article p {
	background:rgba(0, 0, 0, 0.5);
	border:rgba(255, 255, 255, 0.5) solid 2px;
	border-radius:50%;
	width:35px;
	height:35px;
	text-align:center;
	color:#fff;
	line-height:30px;
	cursor:pointer;
	float:left;
	margin:0;
}
.blog-info-box .share_article:hover p, .blog-info-box .share_article:hover ul li a {
	background:#fff;
	color:#000;
}
.blog-info-box .share_article:hover ul li a:hover {
	border-radius:50%;
	color:#fa2837;
}
.blog-info-box .share_article ul {
	position:absolute;
	background:none;
	float:left;
	width:auto;
	opacity:0;
	visibility:hidden;
	transition-duration:0.3s;
	 -moz-transition-duration:0.3s;
	  -o-transition-duration:0.3s;
	   -webkit-transition-duration:0.3s;
	    -ms-transition-duration:0.3s;
    transform:translateY(-100%);
	 -moz-transform:translateY(-100%);
	  -o-transform:translateY(-100%);
	   -webkit-transform:translateY(-100%);
	    -ms-transform:translateY(-100%);
}
.blog-info-box .share_article ul li {
	height:35px;
	width:35px;
	line-height:35px;
	background:rgba(0, 0, 0, 0.5);
	border:0px;

}
.blog-info-box .share_article:hover ul {
	opacity:1;
	visibility:visible;
	position:relative;
	transform:translateY(0%);
	 -moz-transform:translateY(0%);
	  -o-transform:translateY(0%);
	   -webkit-transform:translateY(0%);
	    -ms-transform:translateY(0%);
}




/*----------------------
	3.6. Featured-Cars
-------------------------------*/
.featured-car-list {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin:0 auto 15px;
  transition-duration:0.3s;
   -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
     -webkit-transition-duration:0.3s;
      -ms-transition-duration:0.3s;
}
.featured-car-list:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.featured-car-img {
  position: relative;
  overflow:hidden;
}
.featured-icon {
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  right: -28px;
  text-align: center;
  text-transform:capitalize;
  top: 9px;
  transform: rotate(45deg);
  width: 105px;
}
.featured-car-content {
  padding: 20px;
  overflow:hidden;
}
.featured-car-content a {
  color: #111111;
}
.featured-price {
  font-size: 18px;
  font-weight: 800;
}
.featured-car-content ul {
  border-top: 1px solid #e7e6e6;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 20px 0 0;
}
.featured-car-content li {
  float: left;
  font-size: 13px;
  list-style: outside none none;
  margin-bottom: 8px;
  width: 50%;
}
.featured-car-content li .fa {
  font-size: 15px;
  margin-right: 8px;
}
.price_info {
	overflow:hidden;
}
.featured-price {
	float:left;
	width:50%;
}
.price_info .car-location {
	float:right;
	margin:0 auto;
	width:50%;
}
.price_info .car-location > span {
  display: block;
  line-height: 30px;
}
.compare_item {
  background:rgba(0, 0, 0, 0.8);
  left: 10px;
  padding: 0 12px;
  position: absolute;
  top: 10px;
}
.compare_item .checkbox {
	margin:4px 0;
	padding:0px;
}
.compare_item .checkbox label {
	color:#fff;
    font-weight:400;
	font-size:13px;
}
.compare_item .checkbox label::before {
  background: #fff none repeat scroll 0 0;
  border: 0 none;
  height: 12px;
  top: 4px;
  width: 12px;
}
.compare_item .checkbox input[type="checkbox"]:checked + label::before {
  color: #000;
  font-weight: bold;
}



/*---------------------
	3.7. Trending-Cars
-----------------------------*/
.trending-car-m {
  position: relative;
}
.trending-hover {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  padding: 10%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 100%;
  transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
     -webkit-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
  width: 100%;
  z-index: 111;
}
.trending-car-m:hover .trending-hover {
	top:0px;
}
.trending-hover h4 {
	position:absolute;
	margin:0 auto;
	top:50%;
	left:15px;
	right:15px;
	transform:translateY(-50%);
	 -moz-transform:translateY(-50%);
	  -o-transform:translateY(-50%);
	   -webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
}
.trending-hover h4 a {
	color:#fff;
}
.owl-pagination {
	width:100%;
	display:block;
	margin:auto;
	text-align:center
}
.owl-pagination .owl-page {
	height:10px;
	width:10px;
	background:#929292;
	border-radius:50%;
	display:inline-block;
	margin:25px 5px 0px;
}
.owl-pagination .owl-page.active {
	height:16px;
	width:16px;
	border-radius:50%;
	position:relative;
	top:2px;
}

/*------------------------
	3.10. Popular-Brands
--------------------------------*/
.brand-section {
  padding: 55px 0;
}
.brand-hadding {
  border-right: 1px solid #bbbbbb;
  float: left;
  padding-right: 10px;
  position: relative;
  width: 90px;
}
#popular_brands div {
	padding:0 10px;
}
.brand-hadding::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #bbbbbb;
  border-style: solid;
  border-width: 12px;
  content: "";
  position: absolute;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
   -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
}
.brand-hadding h5 {
  line-height: 26px;
  margin: 10px 0;
}
.brand-logo-list {
  float: right;
  margin: 0 auto;
  padding: 0 0 0 30px;
  width: 90%;
}

.brand-logo-list a img {
  margin: 0 auto;
}
.brand-logo-list .owl-controls.clickable {
	display:none !important;
}

/*-----------------
	3.12. Footer
------------------------*/
.footer-top {
  background: #000 none repeat scroll 0 0; /* ariin ongo */
  padding: 40px 0; /* hemjee */
}
.footer-top h6 { /* garchig */
  color: #fe0000;
  font-size:15px;
  text-transform:uppercase; /* buh useg tomoor*/
  margin-bottom: 40px;  /* toirson huree  */
}
.footer-top ul { /*  dood uliin bair  */
  overflow: hidden;
  padding: 0;
}
.footer-top ul li { /*   */
  font-size: 14px;
  line-height: 23px;
  list-style: outside none none;
  margin-bottom: 16px;
  padding-left: 12px;
  position: relative;
}
.footer-top ul li a::after {
  content: "ï„…";
  font-family: fontawesome;
  left: 0;
  position: absolute;
  vertical-align: middle;
}
.footer-top ul li a {
  color: #fff;
}

/*--------------------------
	16.1. Post-a-vehicle
-------------------------------*/
.vehicle_accessories, .vehicle_type {
	clear:both;
	margin:0 auto 30px;
	display:table;
	width:100%;
}
.accessories_list {
	margin-top:10px !important;
	clear:left;
}

@media (min-width:991px) {
.accessories_list:nth-child(2n) {
	clear:right;
}

}
.vehicle_type .radio label::before {
	height:24px;
	width:24px;
	border:#000 solid 1px;
}
.vehicle_type .radio input[type="radio"]:checked + label::before {
  font-size: 35px;
  line-height: 15px;
}
.vehicle_type .radio label {
  font-size: 18px;
  font-weight: 700;
  padding-left: 34px;
  color:#111;
  line-height:32px;
}
.vehicle_images {
	display:table;
	width:100%;
}
.vehicle_images > div {
  float: left;
  height: 95px;
  margin: 0 10px 10px 0;
  width: 150px;
}
.vehicle_images img {
	max-width:100%;
}
.upload_more_img {
	position:relative;
	border:#eee solid 1px;
}
.upload_more_img:after {
  background-image: url("../images/addmore_img.png");
  background-position: center center;
  background-repeat: no-repeat;
  content:"";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:-1;
}
.upload_more_img input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  box-shadow: none;
  cursor: pointer;
  font-size: 0;
  height: 100%;
  left: 0;
  max-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
